<div class="container">
  <h3 align="center">Relationship Group</h3>
  <a routerLink="/relationship-group/add-relationship-group">Add Relationship Group</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Insert By</th>
      <th>Insert Time</th>

      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let relationshipGroup of relationshipGroupList">
      <td>{{ relationshipGroup.name }}</td>
      <td>{{ relationshipGroup.creatorName }}</td>
      <td>{{ relationshipGroup.createdTime}}</td>

      <td>
        <a [routerLink]="['/relationship-group/edit-relationship-group',relationshipGroup.id]">Edit</a>

        <button>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h3 align="center">Statistic</h3>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <table style="width:50%">
    <tr>
      <th>Count User</th>
      <th>Count Relationship Group</th>
      <th>Count Bla</th>
    </tr>
    <tr>
      <td>
        <label >{{countUser}}</label>
      </td>
      <td>
        <label >{{countRelationshipGroup}}</label>
      </td>
      <td>50</td>
    </tr>

  </table>
</div>
